/* Global styles */
body {
  background-color: #15021f; /* Dark background for the whole page */
  color: #fff; /* White text for better readability */
  font-family: Arial, sans-serif; /* Ensuring a consistent font is used */
  
}

.Searchbar{
  display: flex;
  position: relative;
  margin-left: 50%;
  top:50%;
}

.search-form {
  margin-top: 20px;
  border-radius: 4px;
  color: #433e46;
  border-radius: 10px;

  
  
  
  
}
.Loading{
  position: relative;
  top: 50%;
  left: 45%;
  bottom: 50%;
  color: rgb(59, 53, 53);
  size:100px;




}
.search-button {
  background: #2b0146;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  
}


/* Article container styles */
.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Even spacing */
  padding: 20px;
}

/* Article box layout */
.article {
  max-width: 300px;
  padding: 15px;
  margin: 10px;
  border-radius: 4px;
  background: #2b0146;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.3s ease-in-out; /* Transition effect for the box-shadow */


}
.article:hover {
  box-shadow: 0px 0px 50px rgba(171, 57, 228, 0.87); 
}

.article img {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
  margin-bottom: 10px;
}

.articleTitle {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.article h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.article p {
  font-size: 0.9rem;
}

.register_tab{
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #2b0146; 
  border-radius: 4px;
  color:white;
  margin-right: 1%;
  position: relative;
  top:10%;

  
}


.register_tab{
  align-items: center;
  padding: 20px;
  background: #2b0146; 
  border-radius: 4px;
  color:white;
  text-decoration: none; 
  top:50%;
  position: relative;
  margin-top: 100px;
  bottom: 175px ;
  left: 90%;
}

.picks-for-you_tab{
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #2b0146; 
  border-radius: 4px;
  color:white;
  text-decoration: none;  
  position: relative;
  left:36.3%;
  top: 55px;



}





/* Registration form styling */
 .registration {
  position: relative;
  align-items: center;
  justify-content: center;
  background: #2b0146; /* Matching search bar background */
  border-radius: 4px;
  color: #fff;
  top:30px;

}  


.Read_more {
  font-size: 1rem;
  background: #15021f; 
  color: white; 
  text-decoration: none; 
  padding: 15px 20px; 
  border-radius: 4px; 
  border: 2px solid #15021f; 
  display: inline-block;
}


.bar{
  color: #2b0146;
  width: 1rem;
  background-color: #2b0146;
  border-radius: 4px;
  position: relative;
  right:55%;
  height: 500px;

}

 .header{
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  color:white;
  text-decoration: none;  
  position: relative;
  top:10%;
  font-size: 2rem;
}

.topic-business, .topic-technology, .topic-entertainment, .topic-health, .topic-science, .topic-sports, .topic-politics {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #2b0146; 
  border-radius: 4px;
  color: white;
  text-decoration: none;  
  display: block; /* Makes the link take the full width of its container */
  margin-bottom: 10px; /* Adds space between links */
  margin-right: 10px;
}

/* Ensures that the links are centered within their navigation container */
.Topics {
  display: flex;
  align-items: center; /* Centers the links */
  padding: 0; /* Removes default padding */
  list-style-type: none; /* Removes default list styling */
  position: relative;
  top: 10%;
}